/TOEM_Copy/.vsconfig
/TOEM_Copy/Assembly-CSharp.csproj
/TOEM_Copy/PPv2URPConverters.csproj
/TOEM_Copy/PsdPlugin.csproj
/TOEM_Copy/TOEM_Copy.sln
/TOEM_Copy/Unity.2D.Animation.Editor.csproj
/TOEM_Copy/Unity.2D.Animation.Runtime.csproj
/TOEM_Copy/Unity.2D.Common.Editor.csproj
/TOEM_Copy/Unity.2D.Common.Runtime.csproj
/TOEM_Copy/Unity.2D.IK.Editor.csproj
/TOEM_Copy/Unity.2D.IK.Runtime.csproj
/TOEM_Copy/Unity.2D.Psdimporter.Editor.csproj
/TOEM_Copy/Unity.2D.Sprite.Editor.csproj
/TOEM_Copy/Unity.Burst.CodeGen.csproj
/TOEM_Copy/Unity.Burst.csproj
/TOEM_Copy/Unity.Burst.Editor.csproj
/TOEM_Copy/Unity.CollabProxy.Editor.csproj
/TOEM_Copy/Unity.InternalAPIEditorBridge.001.csproj
/TOEM_Copy/Unity.InternalAPIEngineBridge.001.csproj
/TOEM_Copy/Unity.Mathematics.csproj
/TOEM_Copy/Unity.Mathematics.Editor.csproj
/TOEM_Copy/Unity.PlasticSCM.Editor.csproj
/TOEM_Copy/Unity.RenderPipeline.Universal.ShaderLibrary.csproj
/TOEM_Copy/Unity.RenderPipelines.Core.Editor.csproj
/TOEM_Copy/Unity.RenderPipelines.Core.Runtime.csproj
/TOEM_Copy/Unity.RenderPipelines.Core.ShaderLibrary.csproj
/TOEM_Copy/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
/TOEM_Copy/Unity.RenderPipelines.Universal.Editor.csproj
/TOEM_Copy/Unity.RenderPipelines.Universal.Runtime.csproj
/TOEM_Copy/Unity.RenderPipelines.Universal.Shaders.csproj
/TOEM_Copy/Unity.Rider.Editor.csproj
/TOEM_Copy/Unity.Searcher.Editor.csproj
/TOEM_Copy/Unity.Services.Core.Analytics.csproj
/TOEM_Copy/Unity.Services.Core.Configuration.csproj
/TOEM_Copy/Unity.Services.Core.Configuration.Editor.csproj
/TOEM_Copy/Unity.Services.Core.csproj
/TOEM_Copy/Unity.Services.Core.Device.csproj
/TOEM_Copy/Unity.Services.Core.Editor.csproj
/TOEM_Copy/Unity.Services.Core.Environments.csproj
/TOEM_Copy/Unity.Services.Core.Environments.Internal.csproj
/TOEM_Copy/Unity.Services.Core.Internal.csproj
/TOEM_Copy/Unity.Services.Core.Networking.csproj
/TOEM_Copy/Unity.Services.Core.Registration.csproj
/TOEM_Copy/Unity.Services.Core.Scheduler.csproj
/TOEM_Copy/Unity.Services.Core.Telemetry.csproj
/TOEM_Copy/Unity.Services.Core.Threading.csproj
/TOEM_Copy/Unity.ShaderGraph.Editor.csproj
/TOEM_Copy/Unity.ShaderGraph.Utilities.csproj
/TOEM_Copy/Unity.TextMeshPro.csproj
/TOEM_Copy/Unity.TextMeshPro.Editor.csproj
/TOEM_Copy/Unity.Timeline.csproj
/TOEM_Copy/Unity.Timeline.Editor.csproj
/TOEM_Copy/Unity.VisualStudio.Editor.csproj
/TOEM_Copy/Unity.VSCode.Editor.csproj
/TOEM_Copy/UnityEditor.TestRunner.csproj
/TOEM_Copy/UnityEditor.UI.csproj
/TOEM_Copy/UnityEngine.TestRunner.csproj
/TOEM_Copy/UnityEngine.UI.csproj
/TOEM_Copy/obj
/TOEM_Copy/Library
/TOEM_Copy/Logs
/TOEM_Copy/.vs
/TOEM_Copy/Temp
